<footer class="px-4 sm:px-24 py-4 sm:py-20 bg-[#191919] flex flex-col">
    <div class="flex justify-between items-start border-b pb-10">
        <ol>
            <li class="text-lg font-bold text-white mb-2">Our Products</li>
            <li class="font-light text-white">Our Menus</li>
            <li class="font-light text-white">Our burgers</li>
            <li class="font-light text-white">Our sandwiches</li>
        </ol>
        <ol>
            <li class="text-lg font-bold text-white mb-2">Legal Information</li>
            <li class="font-light text-white">Legal Notice</li>
            <li class="font-light text-white">About</li>
        </ol>
        <ol>
            <li class="text-lg font-bold text-white mb-2">Contact Us</li>
            <li class="font-light text-white">cheffest&#64;mail.com</li>
        </ol>
        <ol>
            <li class="text-lg font-bold text-white mb-2">We accept</li>
            <li class="mb-1.5">
                <img class="h-5" src="https://ucarecdn.com/e590d652-d479-40d1-b800-c2dfc11d316b/Visa.svg" alt="Visa" />
            </li>
            <li class="mb-1.5">
                <img class="h-5" src="https://ucarecdn.com/dcc7c22a-a1b8-4fd3-b44c-20fc9d3acbe4/Mastercard.svg" alt="Mastercard" />
            </li>
        </ol>
    </div>
    <div class="flex items-center justify-between pt-4">
        <p class="text-white font-extralight">© 2024 Cheffest All rights reserved.</p>
    </div>
</footer>

